body{
	user-select:none;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	-webkit-touch-highlight-color:transparent;
}
[data-position=left]{
	float:left;
	clear:right;
	margin-right:5px;
}
[data-position=right]{
	float:right;
	clear:right;
	margin-right:5px;
}
[data-align=left]{
	text-align:left;
}
[data-align=center]{
	text-align:center;
}
[data-align=right]{
	text-align:right;
}
[data-align=justify]{
	text-align:justify;
}
table[data-border=true],table[data-border=true] tr,table[data-border=true] td,table[data-border=true] th{
	border:1px solid black;
}
#account{
	position:fixed;top:0;left:0;width:100%;line-height:16px;text-align:right;font-size:14px;margin:0;padding:0;list-style:none;list-style-image:none;-webkit-user-select:none;-webkit-touch-callout:none;
}
#account li{
	display:inline;padding:0 5px;
}
body>section,body>aside{
	position:relative;width:100%;margin-top:16px;display:block;
}
body>section{
	z-index:1;
}
body>aside{
	z-index:2;
}
body>section>header,body>section>article,body>section>footer{
	margin-left:0;
}
section>header,section>footer,aside>header,aside>footer{
	-webkit-user-select:none;-webkit-touch-callout:none;
}
section>header,section>footer,aside>header,aside>footer{
	text-align:center;
}
section>article>div,aside>article>div{
	padding:10px;
}
a:link,a:visited{
	text-decoration:none;color:blue;transition:text-shadow 1s ease;-webkit-transition:text-shadow 1s ease;-moz-transition:text-shadow 1s ease;
}
a:hover,a:active,a.over{
	text-decoration:underline;color:blue;text-shadow:0 0 5px #aaa;
}
section>header>*,section>footer>*,aside>header>*,aside>footer>*{
	margin:0;padding:0;
}
@media only screen and (min-width:800px){
	body>section>*{
		margin:0;
	}
	body{
		width:100%;
		height:100%;
	}
	body>section>header,body>section>article,body>section>footer{
		margin-left:300px;
	}
	body>aside{
		width:300px;
	}
	body>aside,body>aside>div{
		left:0;
	}
	.noaside>body>aside{
		display:none;
	}
	.noaside>body>section>header,.noaside>body>section>article,.noaside>body>section>footer{
		margin-left:0;
	}
}